#icon {
    width: 50%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    margin: 5% 5%;
    background-color: #fff;
}


#main {
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: space-around;
}

#main p {
    color: #fff;
    font-size: 32pt;
    margin: auto;
}

.halves {
    width: 50%;
}

#logOutButton {
    background-color: #ba0c2f;
    color: white;
    border: solid;
    border-color: #ba0c2f;
    border-width: 2px 16px 4px 16px;
}
