.button {
    font: inherit;
    border: 1px solid #B21E32;
    background: #B21E32;
    color: rgba(255, 255, 255, 0.75);   
    padding: 0.25rem 1rem;
    cursor: pointer;
    position: relative;
    left: 77px;
  }
  
  .button:hover,
  .button:active {
    background: #B21E32;
    border-color: #B21E32;
  }
  
  .button:focus {
    outline: none;
  }
  