#main {
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: space-around;
}

#main p {
    color: #fff;
    font-size: 32pt;
    margin: auto;
}

.halves {
    width: 50%;
}

#logOutButton {
    background-color: #ba0c2f;
    color: white;
    border: solid;
    border-color: #ba0c2f;
    border-width: 4px 16px 4px 16px;
    border-radius: 10%;
}

#logOutButton:hover {
    background-color: #9e0c29;
    border-color: #9e0c29;
}

#logoIMG {
    width: 90%;
    height: 90%;
    margin: auto;
}