.LogIn {
    color: black;
    border: solid;
    border-color: #ba0c2f;
    border-radius: 5px;
    border-width: 10px;
    background-color: white;
    width: 35%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.formSections {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: -25%;
}

#signUpLink {
    color: blue;
    border: solid;
    border-color: #ba0c2f;
    border-radius: 3px;
    border-width: 6px;
    background-color: white;
    padding: 4px;
}

#signUpLink:visited {
    color: blue
}

#signUpLink:hover {
    color: lightblue;
}